glymur
h5py
ipython
matplotlib
natsort
numpy
npy2bdv
pandas
Pillow
plotly
scikit-image
scipy
tifffile
tqdm
git+https://github.com/mansouralawi/nd2reader.git#egg=nd2reader
git+https://github.com/mansouralawi/bigstream.git#egg=bigstream